body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor {
    padding: 20px;
    border: 1px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgba(0,0,0,0.15);
    background-color: darkgray;
}